@model SystemSw_UI.Models.SwitcherModel
@{
    ViewData["Title"] = "Switcher";
}

<table class="text-center">
    @foreach (var item in Model.Mappings) {
        <tr>
            <td>
                @Html.ActionLink(item.Value, "Switch", new { port = item.Key }, htmlAttributes: new
                {
                    style = int.Parse(item.Key) == Model.ActiveChannel ? "font-weight:bold;" : ""    
                });
            </td>
        </tr>
    }
    <tr>
        <td>
            @Html.ActionLink("Restart", "Restart");
        </td>
    </tr>
</div>
