@model SystemSw_UI.Models.SwitcherModel
@{
    ViewData["Title"] = "Switcher";
}

<div class="container text-center">
    @foreach (var item in Model.Mappings.Take(Model.Channels)) {
        <div class="row">
            @Html.ActionLink(item.Value, "Switch", new { port = item.Key }, htmlAttributes: new
            {
                style = int.Parse(item.Key) == Model.ActiveChannel ? "font-weight:bold;" : ""    
            });
        </div>
    }
    <tr>
        <td>
            @Html.ActionLink("Restart", "Restart");
        </td>
    </tr>
</div>
